<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <br><br>
    <p class="text-right"><a style="text-align: right" href="/logout" > Logout </a> </p> 
    
    <div style="margin: 200px auto; text-align: center">
        <h1 class="text-success">Success!</h1>
    </div>
</body>
</html>